@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply antialiased bg-gray-50/30 text-gray-900 scroll-smooth;
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d97706; /* amber-600 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b45309; /* amber-700 */
}
